# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# ML / CUDA
runs/
weights/
*.pt
*.onnx
*.engine
*.h5
datasets/
data/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS / IDE
.idea/
.vscode/
.DS_Store
Thumbs.db
